# Homework #2 

All computations should be done in this notebook using the R kernel. This is your first opportunity to get familiar with R outside of class, so please take your time on the problems that require it. Working in small groups is allowed, but it is important that you make an effort to master the material and hand in your own work.

#### You will be required to submit this notebook, fully compiled with your solutions, as an Jupyter Notebook and as an HTML file to Canvas by 11:59pm on Thursday, February 6.

#### Read and sign the Honor Code Pledge below:

**Honor Code Pledge: _On my honor, as a University of Colorado Boulder student, I have neither given nor received unauthorized assistance on this work._**

Frederick Mckinley Thayer

## Computational Problems


## Problem 1

Some claim that the final hours aboard the Titanic were marked by class warfare; other claim it was characterized by male chivalry.  Load the titanic data frame into R. This dataset contains information pertaining to class status ${\tt pclass}$, survival of passengers ${\tt survived}$, and gender ${\tt sex}$, among others.  

You can learn more about the data here: https://cran.r-project.org/web/packages/PASWR2/PASWR2.pdf

#### (a) First load the data. Load either the file ${\tt titanic3.csv}$ or ${\tt titanic3.txt}$ which can be found in the HW02 folder on Canvas. (Download the file to your computer first.)

In [ ]:
dat = read.csv("/Users/frederickthayer/documents/nlp/titanic3-Sp19vR.csv")

#### (b) Create a table cross listing the number of survivors and non-survivors by passenger class. Use the ${\tt table()}$ command to do this. (The rows of the table should be the passenger class.)

In [ ]:
tab <- table(dat$pclass,dat$survived)
#      0   1
#  1 123 200
#  2 158 119
#  3 528 181

#### (c) Use the table to determine the fraction of survivors from each passenger class. The command ${\tt rowSums()}$ may be useful.

In [ ]:
tab[,2]/rowSums(tab)
#        1         2         3 
#0.6191950 0.4296029 0.2552891

#### (d) Compute the fraction of male survivors who were in first class. Do this by determining the total number of men in first class and the total number of men in first who survived and find the ratio. (Logical indexing may be helpful here.)

In [ ]:
table(dat$survived,dat$sex,dat$pclass)[2,2,1]/table(dat$pclass,dat$sex)[1,2]
#0.3407821

#### (e) Compute the fraction of survivors for the remaining classes and genders. Did men in the first class or women in the third class have a higher survival rate?

In [ ]:
table(dat$survived,dat$sex,dat$pclass)[2,2,2]/table(dat$pclass,dat$sex)[2,2]
table(dat$survived,dat$sex,dat$pclass)[2,2,3]/table(dat$pclass,dat$sex)[3,2]
table(dat$survived,dat$sex,dat$pclass)[2,1,1]/table(dat$pclass,dat$sex)[1,1]
table(dat$survived,dat$sex,dat$pclass)[2,1,2]/table(dat$pclass,dat$sex)[2,1]
table(dat$survived,dat$sex,dat$pclass)[2,1,3]/table(dat$pclass,dat$sex)[3,1]
#women in 3rd class had a higher survival rate (49% vs 34%)

#### (f) Display a frequency histogram of ${\tt age}$. How would you characterize the distribution of ${\tt age}$ (e.g., is it symmetric, positively/negatively skewed, unimodal, multimodal)?

In [ ]:
par(mar=c(1,1,1,1))
hist(dat$age, main="Frequency Histogram of Age",freq=TRUE)
#negatively skewed & bimodal

#### (g) Find the mean, median, st. dev. and range for females who survived and for for females who did not survive. Were the median and mean ages for females who survived higher or lower than for females who did not survive? Beware of missing data in your data set! See this link on [missing data](https://thomasleeper.com/Rcourse/Tutorials/NAhandling.html) for further information.

In [ ]:
fem_surv <- c()
i=1
for (i in 1:1309) {if (dat[i,2]=='1') {if (dat[i,4]=='female') {fem_surv <- c(fem_surv, dat[i,5])}}}
fem_died <- c()
i=1
for (i in 1:1309) {if (dat[i,2]=='0') {if (dat[i,4]=='female') {fem_died <- c(fem_died, dat[i,5])}}}
mean(fem_surv, na.rm = TRUE)
median(fem_surv, na.rm = TRUE)
sqrt(var(fem_surv, na.rm = TRUE))
range(fem_surv, na.rm = TRUE)
mean(fem_died, na.rm = TRUE)
median(fem_died, na.rm = TRUE)
sqrt(var(fem_died, na.rm = TRUE))
range(fem_died, na.rm = TRUE)
#both the mean and median were higher for females who survived (29.8 & 28.5 to 25.3 & 24.5, respectively)

#### (h) Were the median and mean ages for males who survived higher or lower than for males who did not survive? Repeat part (g) but for the males.

In [ ]:
mal_surv <- c()
i=1
for (i in 1:1309) {if (dat[i,2]=='1') {if (dat[i,4]=='male') {mal_surv <- c(mal_surv, dat[i,5])}}}
mal_died <- c()
i=1
for (i in 1:1309) {if (dat[i,2]=='0') {if (dat[i,4]=='male') {mal_died <- c(mal_died, dat[i,5])}}}
mean(mal_surv, na.rm = TRUE)
median(mal_surv, na.rm = TRUE)
sqrt(var(mal_surv, na.rm = TRUE))
range(mal_surv, na.rm = TRUE)
mean(mal_died, na.rm = TRUE)
median(mal_died, na.rm = TRUE)
sqrt(var(mal_died, na.rm = TRUE))
range(mal_died, na.rm = TRUE)
#both the mean and median were lower for males who survived (27.0 & 27.0 to 31.5 & 29.0, respectively)

#### (i) What was the age of the youngest female in the first class who survived?

In [ ]:
fem_1_surv <- c()
i=1
for (i in 1:1309) {if (dat[i,2]=='0') {if (dat[i,4]=='male') {if (dat[i,1]=='1') {fem_1_surv <- c(fem_1_surv, dat[i,5])}}}}
min(fem_1_surv, na.rm = TRUE)
#17

#### (j) Do the data suggest that the final hours aboard the Titanic were characterized by class warfare, male chivalry, some combination of both, or neither? Justify your answer based on computations above, or based on other explorations of the data.

The data suggests that the final hours likely correlated with class and gender- although the exact behavior nature of causation does not necessarily follow form the analysis. Because there was a difference in survival rates between classes and between genders, class warfare and male chivalry could have played a role in this disparity. However, we should be careful with jumping to a sociological conclusion from an analysis of correlation.

## Problem 2

#### (a) We will conduct a simulation in ${\tt R}$ to numerically illustrate the results from theoretical question 3 (a). First generate $n=100$ data points randomly selected from the interval $(0,50)$ using the ${\tt runif()}$ command.

In [ ]:
rand = runif(100, min = 0, max = 50)

#### (b) Now add a new data point to the original dataset, say $x_{101}=40$. Now calculate the mean of the old data set, the new data set and then show that quantities you calculated in theoretical question 3(a) are equal.

In [ ]:
rand = c(rand, 40)
rand2 = c(rand, 40)
mean(rand)
mean(rand2)
if ((40-mean(rand))/101+mean(rand) == mean(rand2)) {print("equal")} else if ((40-mean(rand))/101+mean(rand) != mean(rand2)){print("not equal")}
# "equal"

#### (c) With regards to the variance of the old and new data set, it can be shown that   
$$
s_{n+1}^2 = \frac{(n-1)}{n}s_{n}^2 +  \frac{1}{n+1}(x_{n+1} - \bar{x}_n)^2
$$

#### where $s_{n}^2$ is the variance of the old data set and $s_{n+1}^2$ is the variance of the new data set. Verify this result computationally with the old and new data sets from part (b).

In [ ]:
if (var(rand2)**2 == ((100-1)*(var(rand)**2)/100)+(((40-mean(rand))**2)/101)) {print("TRUE")}

#### (d) Use ${\tt runif()}$ to generate $n=100$ data points from the interval $(0,50)$ and then determine the 5% trimmed mean and 50% trimmed mean, see help page for ${\tt mean()}$ regarding trimmed means. Compare with the median.

In [ ]:
rand3 = runif(100, min = 0, max = 50)
mean(rand3, trim = 0.05)
mean(rand3, trim = 0.5)
median(rand3)
# 24.9928
# 24.63547
# 24.63547

The median is the same as the 50% trimmed mean.

## Problem 3

#### (a) Load the chocolate.csv data into R (perhaps using the ${\tt read.csv()}$ function, download the file to your computer from Canvas). Print a summary of the data using ${\tt summary()}$.

In [ ]:
#change the directory below as necessary to load the data from your computer...
choc = read.csv(paste("~/Documents/files/Statistics/[4570]/",
                          "/hw02/[computational]/chocolate.csv", sep = ""))

#### (b) Which variables are stored as factors, and which are stored as numeric? The function ${\tt class()}$ may help. (Note that ${\tt sapply()}$ can be used to apply a function to an entire vector or matrix).

#### (c) Change the variable names to: ${\tt company, sorigin, ref, date, cocoa, location, rating, type, borigin}$.

#### (d) Create a new data frame with just: ${\tt company, cocoa, location, rating}$. Use this data frame for all remaining questions. (Preview your data frame with the ${\tt head()}$ command.)

#### (e) What happens when the command ${\tt subset(x, rating== min(rating))}$ (where ${\tt x}$ is the name of the data frame created in part (d) above) is executed?

#### (f) Which company makes the highest rated chocolate bar? The lowest?